@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cabin+Sketch:wght@700&family=Chakra+Petch:ital,wght@0,600;1,600&family=Roboto&family=Roboto+Condensed&family=Teko&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* html{

    scroll-behavior: smooth;
} */

body {
    background-color: rgba(219, 222, 225, 0.853);
}

:root {
    --navbar-height: 59px;
}

nav {
    color: white;
    background-color: #2874f0;
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0px;

}

#logoimg {
    height: 1.3rem;
}

.leftmenu {
    align-self: center;
    display: grid;
    
    font-family: sans-serif;
    font-style: italic;
    font-size: x-small;
    font-weight: bolder;
}
.menu i{
    font-size: 4.7rem;
    padding: 1.9rem 0.9rem 0.6rem 2rem;
    display: none;
    margin: 1rem 2rem 0rem 2rem;

}
.install {
    margin-top: 2rem;
    display: none;
}
.install i{
    font-size: 6rem;
    /* display: none; */
    padding: 1rem 1rem 0rem 5rem;
}
.leftmenu img {
    height: 0.6rem;
}

.searchbar {
    width: 36rem;
    align-self: center;
    padding: 1rem;
}

.searchbar input {
    border: none;
    float: left;
    width: 80%;
    font-size: 0.9rem;
    padding: 10px;
}

.searchbar button {
    border: none;
    float: right;
    width: 20%;
    font-size: 1.3rem;
    padding: 6px;
    color: #2874f0;
    background-color: white;


}

.searchbar i {
    margin-left: 4rem;

}

#loginbtn {
    background-color: white;
    color: #2874f0;
    padding: 6px 37px;
    margin: 36px;
    border-radius: 2px;
}

.navlist {
    font-weight:600;
    list-style: none;
    display: inline-flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
}

.navlist a {
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;

}

.navlist a i {
    margin-right: 0.3rem;
}

/* dropdowm */
.dropbtn {
    background: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight:600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2px;

}

.dropdown-content i,
.dropdown-content svg {
    height: 0.9rem;
    margin-right: 0.1rem;
    color: #2874f0;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid whitesmoke;
    font-weight: 100;

}

.dropdown-content a:hover {background-color: #cbc8c8;}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */



#cart {
    display: block;
}

.catlist {
    width: 100%;
    text-align: center;
    background-color: white;
    margin-top: 3.5rem;
    display: flow-root;
    justify-content: center;
}

.catlist img {
    height: 70px;

}
#category{
    display: none;
}
.catlist a {
    padding: 19px 25px;
    justify-items: center;
    align-self: 20px;
    display: inline-grid;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:#212121;
    font-weight: 600;
    font-size: 0.9rem;
}
.catlist a:hover{
    color: #2874f0;
}
.searchbar2{
    margin-top: 11rem;
    width: 95rem;
    padding:0rem 2rem 2rem 2rem;
    background-color: #2874f0;
    display: none;
    position: fixed;

}
.searchbar2 input{
    width: 74rem;
    height: 4rem;
    font-size: 3rem;
    padding: 4rem;
    border-radius: 10px;
}

.content {
    background-color: rgba(219, 222, 225, 0.853);
    padding: 12px 0 0 0;
    display: inline-table;
    width: 100%;
}

* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {

    position: relative;
    margin: auto;
    display: contents;
}

.slideshow-container:hover .prev {
    display: block;
}

.slideshow-container:hover .next {
    display: block;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -7rem;
    color: white;
    font-weight: bold;
    font-size: 39px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}




.row {
    width: 100%;
    display: flex;
}

/* electronic list */

.electroniclist {
    display: inline-flex;
    background-color: white;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 14px;
    font-size: small;
}
.dot1{
    margin-left: -4rem;
    border: 16px dotted;
    padding: 9.5px 0px 0rem;
    width: 109%;
    margin-top: -1.5rem;
    color: aliceblue;
    display: none;
}


.electroniclist h1{
    font-family: 'Roboto';
    font-size: 3.7rem;
    padding: 2rem;
    display: none;
}
.electroniclist1 h1{
    font-family: 'Roboto';
    font-size: 3.7rem;
    padding: 2rem;
    display: none;
}
.electroniclist2 h1{
    font-family: 'Roboto';
    font-size: 3.7rem;
    padding: 2rem;
    display: none;
}

.electroniclist1 {
    display: inline-flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 14px;
    width: 100%;
    font-size: small;

}

.electroniclist2 {
    display: inline-flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 14px;
    width: 100%;
    font-size: small;

}

.electronics {
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90);
    background-repeat: no-repeat;
    background-position: 0px bottom;
    display: table-caption;
    text-align: center;
    padding: 0.9rem;
}

.electronics1 {
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/b84f1c22cce1a6a3.jpg?q=90);
    background-repeat: no-repeat;
    background-position: 0px bottom;
    display: table-caption;
    text-align: center;
    padding: 0.9rem;
}

.electronics2 {
    background-image: url(https://rukminim1.flixcart.com/reco/278/278/images/Reco_winter_DT_2fcaff.jpg?q=90);
    background-repeat: no-repeat;
    background-position: 0px bottom;
    display: table-caption;
    text-align: center;
    padding: 0.9rem;
    background-position-y: 14.2rem;
}

.electroniclist a {
    align-items: center;
    justify-items: center;
    display: inline-grid;
    text-decoration: none;
    color: black;
    padding: 16px 6px;
    margin-top: 3px;
}

.electroniclist img {
    height: 9rem;
    margin: 2.3rem 1rem;
    /* transition: 1s; */
}
.electroniclist img:hover{
   transform:scale(1.1);
}

.electroniclist1 img {
    height: 10rem;
    margin: 2.3rem 1rem;
    transition: 1s;
}
.electroniclist1 img:hover{
    transform:scale(1.1);
 }
 

.electroniclist2 img {
    height: 10rem;
    margin: 2.3rem 1rem;
    transition: 1s;
}
.electroniclist2 img:hover{
    transform:scale(1.1);
 }

.electroniclist1 a {
    align-items: center;
    justify-items: center;
    display: inline-grid;
    text-decoration: none;
    color: black;
    padding: 16px 15px;
    margin-top: 3px;
}

.electroniclist2 a {
    align-items: center;
    justify-items: center;
    display: inline-grid;
    text-decoration: none;
    color: black;
    padding: 16px 15px;
    margin-top: 3px;
}

.texts {
    width: 11rem;
}

.texts h3 {
    font-weight: 400;
    margin-top: 5rem;
    text-align: center;
    font-size: 1.7rem;
}

.electronics a {
    background-color: #2874f0;
    border-radius: 4px;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 14px;
    margin-top: 1rem;
}

.electronics1 a {
    background-color: #2874f0;
    border-radius: 4px;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 14px;
    margin-top: 1rem;
}

.electronics2 a {
    background-color: #2874f0;
    border-radius: 4px;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 14px;
    margin-top: 1rem;
}

.electroniclist p {
    color: #388e3c;
    margin: 12px;
}

.electroniclist1 p {
    color: #388e3c;
    margin: 12px;
}

.electroniclist2 p {
    color: #388e3c;
    margin: 12px;
}

.ads {
    float: right;
    padding: 0 4px;
}

.ads img {
    height: 23.5rem;
    border: 4px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.passage {
    width: 100%;
    background-color: white;
    color: #878787;
    font-size: 0.7rem;
    font-family: 'Roboto', arial, sans-serif;
    line-height: 1rem;
    margin: 1.9rem 0 0rem;
    padding: 0.9rem 1.6rem;
}

.passage h1 {
    font-size: 1rem;
    padding: 1.6rem 0;
}

.passage h2 {
    font-size: 0.8rem;
}

.footer {
    background-color: #172337;
    display: flex;
}
.footerbox{
    background-color: #172337;
    
}

.fotcontent {
   
    padding: 3rem 3rem 0 4rem;
}


.fotcontent a {
    text-decoration: none;
    color: white;
    display: block;
    font-weight: 500;
    font-size:0.7rem ;
    line-height: 2;
}

.fotcontent h1 {
    color: #878787 ;
    margin-bottom: 0.7rem;
    font-weight: 400;
    font-size: 0.8rem;
}
/* .line{
    border: 1px solid #454d5e;
height:14rem ;
margin-top: 3rem;
} */
.address {
    
    padding: 0rem 1rem 0rem 1rem;
    color: white;
    border-left: 1px solid #454d5e;
    height: 8rem;
    margin-top: 3rem;
}

.address2{
    
    padding: 3rem 1rem;
color:white;
}
.address h1{
    color: #878787 ;
    margin-bottom: 0.7rem;
    font-weight: 400;
    font-size: 0.8rem;
   
}
.address2 h1{
    color: #878787 ;
    margin-bottom: 0.7rem;
    font-weight: 400;
    font-size: 0.8rem;
}
.address p{
    display: block;
    font-weight: 500;
    font-size:0.7rem ;
    line-height: 1.5;
    
}
.address2 p{
    display: block;
    font-weight: 500;
    font-size:0.7rem ;
    line-height: 1.5;
    
}
.address2 p a{
    text-decoration: none;
    color: #2874f0;
    
}
.line{
    border: 1px solid #454d5e;
    width: 100%;
}
.footerend{
    display: flex;
}
.footerend a{
 text-decoration: none;
 color:white;
font-size: 0.9rem;
font-family: 'Roboto', arial, sans-serif;
margin-left: 0.5rem;
padding: 2rem 4.5rem 2rem 0rem;
}
.footerend span{
 color:white;
font-size: 0.9rem;
font-family: 'Roboto', arial, sans-serif;
/* margin-left: 0.5rem; */
padding: 2rem 7rem 2rem 0rem;
}
.footerend img{
    margin-left: 2rem;
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


@media only screen and (max-width:1397px) {

    .catlist {
        display: inline-flex;
        width: 93rem;

    }
}

@media only screen and (max-width:1495px) {
    .ads img {
        height: 22.5rem;
    }

}

@media only screen and (max-width:1440px) {
    .electroniclist a {
        padding: 1px 11px;
    }

}

@media only screen and (max-width:900px) {
    #cart {
        display: none;
    }

}
@media only screen and (max-width:500px) {
    nav{
        height: 11rem;
        padding: 1rem 15rem;
    }
    .menu i{
        display:flex;
    }
    #logoimg{
        height: 4.3rem;
        margin-top: 2rem;
    }
    .searchbar{
        display: none;
    }
    .install{
        display: block;
    }
.dropdown{
    display: none;
}
#navlist{
    display: none;
}
.leftmenu{
    margin-right: 27%;
    font-size: 2rem;
    align-self: baseline;
}
#loginbtn{
    color: white;
    background: none;
    font-size: 4rem;
    font-weight: 400;
    align-self: baseline;
    padding: 2px 67px 0px 24px;

}
.searchbar2{
    display: block;
}
.catlist{
    overflow: auto;
    white-space: nowrap;
    margin-top: 21rem;
    justify-content: flex-start;
    width: 94rem;
    position: fixed;
}
.catlist a{
    font-size: 2.7rem;
}
#category{
    display: inline-grid;
}
#caticon{
    background-color: #a4c5ea;
    border-radius: 50%;
    padding: 2rem;
}

.catlist img{
    height: 10rem;

}
.install{
    display: flex;
}
.install i{
    font-size: 4rem;

}
.content{
    margin-top: 36rem;
}
.mySlides img{
    width: 100%;
    object-fit: cover;
    height: 32rem;
}
.content{
    width: 78rem;
}
.electroniclist{
    display: block;
    /* background-color: #d251d; */
    background-image: url(img/pic1.jpeg);
    padding: 2rem 2.9rem;
    background-repeat: no-repeat;
background-size: cover;
font-size: 1.7rem;
    
}
.dot1{
    display: block;
}
.electroniclist1{
    display: block;
    background-image: url(img/pic1.jpeg);
    padding: 2rem 3rem;
    background-repeat: no-repeat;
background-size: cover;
font-size: 1.7rem;

    
}
.electroniclist2{
    display: block;
    background-image: url(img/pic1.jpeg);
    padding: 2rem 2.5rem;
    background-repeat: no-repeat;
background-size: cover;
font-size: 1.7rem;

    
}
.electroniclist a{
    background-color: white;
    border-radius: 1.5rem;
    width: 33.4rem;
    margin: 1rem;
}
.electroniclist1 a{
    background-color: white;
    border-radius: 1.5rem;
    width: 33.4rem;
    margin: 1rem;
}
.electroniclist2 a{
    background-color: white;
    border-radius: 1.5rem;
    width: 34rem;
    margin: 1rem;
}
.electroniclist img{
    height: 18rem;
    margin: 2.3rem 0rem;
}
.electroniclist1 img{
    height: 19rem;
    margin: 3.3rem 2rem;
}
.electroniclist2 img{
    height: 24rem;
    margin: 3.3rem 2rem;
}
.electroniclist h1{
    display: block;
}
.electroniclist1 h1{
    display: block;
}
.electroniclist2 h1{
    display: block;
}
.electronics{
    display: none;
}
.electronics1{
    display: none;
}
.electronics2{
    display: none;
}
.ads{
    display: none;
}
#monitor{
    display: none;
}
.passage{
    font-size: 2rem;
    line-height: 2.5rem;
}
.passage h1{
    font-size: 2.5rem;
}
.passage h2{
    font-size: 2.3rem;
    padding: 1rem;
}
.footerbox{
    display: none;
}

}